@model AnimeDetailsViewModel

@{
	ViewData["Title"] = Model.Title;
}
<style>
	p { margin-bottom: 0.2em !important; }
	a { margin-left: 0 !important; }
</style>
<div class="container text-left py-2">
	<div class="row mb-4">
		<div class="col-lg-3">
			<img src="@Model.PosterUrl" alt="Anime Poster" class="img-fluid" />
		</div>
		<div class ="col-sm-8">
			<p><b>Title:</b> @Model.Title</p>
			<p><b>English Title:</b> @Model.Title</p>
			<p><b>Japanesse Title:</b> @Model.Title</p>
			<p><b>Type:</b> @Model.Type</p>
			<p><b>Source:</b> @Model.Source</p>
			<p><b>Status:</b> @Model.Status</p>
			<p><b>Season:</b> @Model.Season</p>
			<p><b>Started Airing:</b> @Model.StartDate</p>
			<p><b>Finished Airing:</b> @Model.EndDate</p>
			<p><b>Episodes:</b> @Model.Episodes</p>
			<p><b>Duration:</b> @Model.Duration</p>
			<p><b>Rating:</b> @Model.Rating</p>
			<p><b>Score:</b> @Model.Score</p>
			<p><b>Rank:</b> @Model.Rank</p>
			<p><b>Genres:</b> @string.Join(", ", Model.Genres)</p>
		</div>
	</div>
	<p class="mb-sm-2"><b>Link to mal:</b><a class="text-dark pl-2" href="@Model.Url">@Model.Url</a></p>
	<p class="mb-sm-2"><b>Trailer:</b> @Model.TrailerUrl</p>
	<p class="mb-sm-2"><b>Synopsis:</b> @Model.Synopsis</p>
	<p class="mb-sm-4"><b>Background:</b> @Model.Background</p>
	<div class="mb-4">
		@if(Model.AnimesRelations.Any())
		{
			<p class="mb-sm-2"><b>Anime relations:</b></p>
			<table>
				<thead class="text-center pb-2">
					<tr>
						<th>Anime name</th>
						<th>Relation type</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var relation in Model.AnimesRelations)
					{
						<tr class="clickable-row">
							<td class="pr-4">
								<a asp-controller="Anime" asp-action="Details" asp-route-id="@relation.Id" class="row text-dark">
									@relation.Title
								</a>
							</td>
							<td>@relation.RelationType</td>
						</tr>
					}
				</tbody>
			</table>
		}
	</div>
	<div class="mb-4">
		@if (Model.MangaAdaptations.Any())
		{
			<p class="mb-sm-2"><b>Manga adaptations:</b></p>
			@foreach (var adaptation in Model.MangaAdaptations)
			{
				<a asp-controller="Manga" asp-action="Details" asp-route-id="@adaptation.Id" class="row">
					<p class="text-dark"><b>Title:</b> @adaptation.Title</p>
				</a>
			}
		}
	</div>
	<div class="mb-4">
		@if (Model.AnimesProducers.Any())
		{
			<p class="mb-sm-2"><b>Producers:</b></p>
			@foreach (var producer in Model.AnimesProducers)
			{
				<a asp-controller="Producer" asp-action="Details" asp-route-id="@producer.Id" class="row">
					<p class="text-dark"><b>Title:</b> @producer.Name</p>
				</a>
			}
		}
	</div>
	<div class="mb-4">
		@if (Model.AnimesStudios.Any())
		{
			<p class="mb-sm-2"><b>Studios:</b></p>
			@foreach (var studio in Model.AnimesStudios)
			{
				<a asp-controller="Producer" asp-action="Details" asp-route-id="@studio.Id" class="row">
					<p class="text-dark"><b>Title:</b> @studio.Name</p>
				</a>
			}
		}
	</div>
	<div class="mb-4">
		@if (Model.AnimesLicensors.Any())
		{
			<p class="mb-sm-2"><b>Licensors:</b></p>
			@foreach (var licensor in Model.AnimesLicensors)
			{
				<a asp-controller="Producer" asp-action="Details" asp-route-id="@licensor.Id" class="row">
					<p class="text-dark"><b>Title:</b> @licensor.Name</p>
				</a>
			}
		}
	</div>
	@if(User?.Identity?.IsAuthenticated ?? false)
	{
		int option = 1;
		if (Model.UserAdded.ContainsKey(Model.Id)) option = Model.UserAdded[Model.Id];
		<div style="max-width:210px">
			<input name="id" type="hidden" value="@Model.Id">
			<select name="status" class="form-control" style="max-width:140px" aria-required="true" asp-items="@(new SelectList(Model.Enums, "Id", "Name", option))"></select>
			<button type="button" class="btn btn-primary" style="width:70px" onclick="AddAnime(this)">Add</button>
		</div>
	}
</div>

@*
<form asp-controller="Added" asp-action="AddAnime" asp-route-returnUrl="~@Context.Request.Path@Context.Request.QueryString" metod="get" class="row mx-0 justify-content-center">
	<input name="id" type="hidden" value="@Model.Id">
	<select name="status" class="form-control" style="max-width:140px" aria-required="true" asp-items="@(new SelectList(Model.Enums, "Id", "Name", option))">
	</select>
	<button type="submit" class="btn btn-primary" style="width:70px">Add</button>
</form>
*@