@model AddedWithCountViewModel<AddedMangaViewModel>

@{
	ViewData["Title"] = "Added Mangas";
	int start = -2;
	if (Model.Page == 1) start = 0;
	else if (Model.Page == 2) start = -1;

	int end = 2;
	if (Model.Page == Model.TotalPages) end = 0;
	else if (Model.Page + 1 == Model.TotalPages) end = 1;
}

<div class="col-sm-10 row mx-0 justify-content-evenly">
	<a class="btn btn-secondary mr-2" asp-controller="Added" asp-action="AddedManga" asp-route-itemsPerPage=@Model.ItemsPerPage asp-route-status=0>All Anime</a>
	<a class="btn btn-secondary mr-2" asp-controller="Added" asp-action="AddedManga" asp-route-itemsPerPage=@Model.ItemsPerPage asp-route-status=1>Plan To Watch</a>
	<a class="btn btn-secondary mr-2" asp-controller="Added" asp-action="AddedManga" asp-route-itemsPerPage=@Model.ItemsPerPage asp-route-status=2>Currently Watching</a>
	<a class="btn btn-secondary mr-2" asp-controller="Added" asp-action="AddedManga" asp-route-itemsPerPage=@Model.ItemsPerPage asp-route-status=3>Finished</a>
	<a class="btn btn-secondary mr-2" asp-controller="Added" asp-action="AddedManga" asp-route-itemsPerPage=@Model.ItemsPerPage asp-route-status=4>Abandoned</a>
</div>

<div class="btn-toolbar container-fluid row justify-content-center my-4">
	<div class="col-sm-10 d-flex justify-content-end align-baseline">
		<p class="mr-4">Items per page: </p>
		<a class="btn btn-secondary mr-2" asp-controller="Added" asp-action="AddedManga" asp-route-status="@Model.Status" asp-route-itemsPerPage=10>10</a>
		<a class="btn btn-secondary mr-2" asp-controller="Added" asp-action="AddedManga" asp-route-status="@Model.Status" asp-route-itemsPerPage=20>20</a>
		<a class="btn btn-secondary mr-2" asp-controller="Added" asp-action="AddedManga" asp-route-status="@Model.Status" asp-route-itemsPerPage=50>50</a>
	</div>
</div>


<div class="container-fluid row justify-content-center">
	<table class="table table-striped table-bordered table-hover col-xl-10">
		<thead>
			<tr>
				<th>Image</th>
				<th>Title</th>
				<th>Chapters</th>
				<th>Volumes</th>
				<th>Type</th>
				<th>Status</th>
				<th>Air Date</th>
				<th>Finished Airing</th>
				<th>Watching Status</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var manga in Model.Entities)
			{
				<tr>
					<td style="vertical-align:middle;">
						<div style="height:40px">
							<a asp-controller="Manga" asp-action="Details" asp-route-id="@manga.Id">
								<img class="custom-scale h-100" src="@manga.PosterUrl" alt="Manga img">
							</a>
						</div>
					</td>
					<td style="max-width:250px">@manga.Title</td>
					<td>@manga.Chapters</td>
					<td>@manga.Volumes</td>
					<td>@manga.Type</td>
					<td>@manga.Status</td>
					<td>@manga.StartDate</td>
					<td>@manga.EndDate</td>
					<td style="max-width:180px">
						<form asp-controller="Added" asp-action="AddManga" metod="get" class="row mx-0 justify-content-center">
							<input name="id" type="hidden" value="@manga.Id">
							<select name="status" class="form-control" style="max-width:140px" aria-required="true" value="@manga.WatchingStatus">
								<option value="1">Plan To Watch</option>
								<option value="2">Watching</option>
								<option value="3">Finished</option>
								<option value="4">Abandon</option>
							</select>
							<button type="submit" class="btn btn-primary" style="width:70px">Add</button>
						</form>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>

<div class="btn-toolbar mb-3 justify-content-center" role="toolbar" aria-label="Toolbar with button groups">
	<div class="btn-group mr-2" role="group" aria-label="First group">
		@for (int i = start; i <= end; i++)
		{
			<a asp-controller="Added" asp-action="AddedManga" asp-route-page=@(Model.Page + i) asp-route-itemsPerPage=@(Model.ItemsPerPage) asp-route-status="@Model.Status" class="btn btn-secondary">@(Model.Page + i)</a>
		}
		<form class="form-inline" asp-controller="Added" asp-action="AddedManga" method="get">
			<input name="page" class="py-1 ml-2 w-25" type="number" placeholder="@Model.Page">
			<input name="itemsPerPage" type="hidden" value=@Model.ItemsPerPage>
			<input name="status" type="hidden" value=@Model.Status>
			<input type="submit" class="btn btn-primary" value="Go">
		</form>
	</div>
</div>