@using static AnimeDbWebApp.Common.GeneralConstants
@model AddedWithCountViewModel<AddedMangaViewModel>

@{
	ViewData["Title"] = "Added Mangas";
	int start = -2;
	if (Model.Page == 1) start = 0;
	else if (Model.Page == 2) start = -1;

	int end = 2;
	if (Model.Page == Model.TotalPages) end = 0;
	else if (Model.Page + 1 == Model.TotalPages) end = 1;
}

@if (User.IsInRole(RoleMangaWeeb))
{
	<h1 class="mb-4">You are proud manga weeb</h1>
}

<div class="container justify-content-center">
	<div class="mx-0 d-flex">
		<a class="btn btn-secondary mr-2" style="flex:1 1 100%" asp-controller="Added" asp-action="AddedManga" asp-route-itemsPerPage=@Model.ItemsPerPage asp-route-status=0>All Manga</a>
		<a class="btn btn-secondary mr-2" style="flex:1 1 100%" asp-controller="Added" asp-action="AddedManga" asp-route-itemsPerPage=@Model.ItemsPerPage asp-route-status=1>Plan To Watch</a>
		<a class="btn btn-secondary mr-2" style="flex:1 1 100%" asp-controller="Added" asp-action="AddedManga" asp-route-itemsPerPage=@Model.ItemsPerPage asp-route-status=2>Currently Watching</a>
		<a class="btn btn-secondary mr-2" style="flex:1 1 100%" asp-controller="Added" asp-action="AddedManga" asp-route-itemsPerPage=@Model.ItemsPerPage asp-route-status=3>Finished</a>
		<a class="btn btn-secondary mr-2" style="flex:1 1 100%" asp-controller="Added" asp-action="AddedManga" asp-route-itemsPerPage=@Model.ItemsPerPage asp-route-status=4>Abandoned</a>
	</div>
</div>

<div class="container-fluid justify-content-center  col-sm-10">
	<div class="btn-toolbar row justify-content-between my-4">
		<div>
			<a class="btn btn-secondary mr-2" asp-controller="Api" asp-action="GetUserMangaList" asp-route-status="@Model.Status" asp-route-itemsPerPage=20>Download Manga List</a>
		</div>
		<div class="col-sm-10 d-flex justify-content-end align-baseline">
			<p class="mr-4">Items per page: </p>
			<a class="btn btn-secondary mr-2" asp-controller="Added" asp-action="AddedManga" asp-route-status="@Model.Status" asp-route-itemsPerPage=10>10</a>
			<a class="btn btn-secondary mr-2" asp-controller="Added" asp-action="AddedManga" asp-route-status="@Model.Status" asp-route-itemsPerPage=20>20</a>
			<a class="btn btn-secondary mr-2" asp-controller="Added" asp-action="AddedManga" asp-route-status="@Model.Status" asp-route-itemsPerPage=50>50</a>
		</div>
	</div>
</div>

<div class="container-fluid row justify-content-center">
	<table class="table table-striped table-bordered table-hover col-xl-10">
		<thead>
			<tr>
				<th>Image</th>
				<th>Title</th>
				<th>Chapters</th>
				<th>Volumes</th>
				<th>Type</th>
				<th>Status</th>
				<th>Air Date</th>
				<th>Finished Airing</th>
				<th style="max-width:300px">Watching Status</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var manga in Model.Entities)
			{
				<tr>
					<td style="vertical-align:middle;">
						<div style="height:40px">
							<a asp-controller="Manga" asp-action="Details" asp-route-id="@manga.Id">
								<img class="custom-scale h-100" src="@manga.PosterUrl" alt="Manga img">
							</a>
						</div>
					</td>
					<td style="max-width:250px">@manga.Title</td>
					<td>@manga.Chapters</td>
					<td>@manga.Volumes</td>
					<td>@manga.Type</td>
					<td>@manga.Status</td>
					<td>@manga.StartDate</td>
					<td>@manga.EndDate</td>
					<td class="align-middle">
						<div class="d-flex justify-content-center">
							<div class="d-flex">
								<input name="id" type="hidden" value="@manga.Id">
								<select name="status" class="form-control" style="max-width:140px" aria-required="true" asp-items="@(new SelectList(Model.Enums, "Id", "Name", (int)manga.WatchingStatus))"></select>
								<button type="button" class="btn btn-primary" style="width:75px" onclick="AddManga(this)">Update</button>
							</div>
							<form asp-controller="Added" asp-action="RemoveManga" asp-route-returnUrl="~@Context.Request.Path@Context.Request.QueryString">
								<input name="id" type="hidden" value="@manga.Id">
								<button type="submit" class="btn btn-primary" style="width:85px">Remove</button>
							</form>
						</div>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>

<div class="btn-toolbar mb-3 justify-content-center" role="toolbar" aria-label="Toolbar with button groups">
	<div class="btn-group mr-2" role="group" aria-label="First group">
		@for (int i = start; i <= end; i++)
		{
			<a asp-controller="Added" asp-action="AddedManga" asp-route-page=@(Model.Page + i) asp-route-itemsPerPage=@(Model.ItemsPerPage) asp-route-status="@Model.Status" class="btn btn-secondary">@(Model.Page + i)</a>
		}
		<form class="form-inline" asp-controller="Added" asp-action="AddedManga" method="get">
			<input name="page" class="py-1 ml-2 w-25" type="number" placeholder="@Model.Page">
			<input name="itemsPerPage" type="hidden" value=@Model.ItemsPerPage>
			<input name="status" type="hidden" value=@Model.Status>
			<input type="submit" class="btn btn-primary" value="Go">
		</form>
	</div>
</div>