@model HomeViewModel;

@{
    ViewData["Title"] = "Home Page";
}

<a asp-controller="Anime" asp-action="Index" class="text-dark h1-custom card-link">Check all animes</a>

<div id="carouselExampleControls" class="carousel slide mx-auto pt-3 pb-5 mb-5 border-bottom" data-ride="carousel">
    <div class="carousel-inner" style="aspect-ratio:4/1">
        <div class="carousel-item active">
        @foreach(var anime in Model.Animes.Take(5))
        {
            <a asp-controller="Anime" asp-action="Details" asp-route-id="@anime.Id">
                <img class="col-sm-2" src="@anime.PosterUrl" alt="First slide">
            </a>
        }
        </div>
        @for(int i = 5; i < Model.Animes.Count;)
        {
            <div class="carousel-item">
            @for (int j = 1; j <= 5 && i < Model.Animes.Count; j++, i++)
            {
                <a asp-controller="Anime" asp-action="Details" asp-route-id="@Model.Animes[i].Id">
                    <img class="col-sm-2" src="@Model.Animes[i].PosterUrl" alt="First slide">
                </a>
            }
            </div>
        }
            
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<a asp-controller="Manga" asp-action="Index" class="text-dark h1-custom card-link">Check all mangas</a>

<div id="carouselExampleControls2" class="carousel slide mx-auto pt-3 pb-5 mb-5" data-ride="carousel">
    <div class="carousel-inner" style="aspect-ratio:4.5/1">
        <div class="carousel-item active">
            @foreach (var manga in Model.Mangas.Take(5))
            {
                <a asp-controller="Manga" asp-action="Details" asp-route-id="@manga.Id">
                    <img class="col-sm-2" src="@manga.PosterUrl" alt="First slide">
                </a>
            }
        </div>
        @for (int i = 5; i < Model.Mangas.Count;)
        {
            <div class="carousel-item">
            @for (int j = 1; j <= 5 && i < Model.Mangas.Count; j++, i++)
            {
                <a asp-controller="Manga" asp-action="Details" asp-route-id="@Model.Mangas[i].Id">
                    <img class="col-sm-2" src="@Model.Mangas[i].PosterUrl" alt="First slide">
                </a>
            }
            </div>
        }
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls2" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls2" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>