@model MangaDetailsViewModel

@{
	ViewData["Title"] = Model.Title;
}
<style>
	p { margin-bottom: 0.2em !important; }
	a { margin-left: 0 !important; }
</style>
<div class="container text-left p-sm-0">
	<div class="row mb-4">
		<div class="col-lg-3">
			<img src="@Model.PosterUrl" alt="Manga Poster" class="img-fluid" />
		</div>
		<div class="col-sm-8">
			<p><b>Title:</b> @Model.Title</p>
			<p><b>English Title:</b> @Model.Title</p>
			<p><b>Japanesse Title:</b> @Model.Title</p>
			<p><b>Type:</b> @Model.Type</p>
			<p><b>Status:</b> @Model.Status</p>
			<p><b>Started Airing:</b> @Model.StartDate</p>
			<p><b>Finished Airing:</b> @Model.EndDate</p>
			<p><b>Chapters:</b> @Model.Chapters</p>
			<p><b>Volumes:</b> @Model.Volumes</p>
			<p><b>Score:</b> @Model.Score</p>
			<p><b>Rank:</b> @Model.Rank</p>
			<p><b>Genres:</b> @string.Join(", ", Model.Genres)</p>
		</div>
	</div>
	<p class="mb-sm-2"><b>Link to mal:</b><a class="text-dark pl-2" href="@Model.Url">@Model.Url</a></p>
	<p class="mb-sm-2"><b>Synopsis:</b> @Model.Synopsis</p>
	<p class="mb-sm-4"><b>Background:</b> @Model.Background</p>
	<div class="mb-4">
		@if (Model.MangaRelations.Any())
		{
			<p class="mb-sm-2"><b>Manga relations:</b></p>
			<table>
				<thead class="text-center pb-2">
					<tr>
						<th>Manga name</th>
						<th>Relation type</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var relation in Model.MangaRelations)
					{
						<tr class="clickable-row">
							<td class="pr-4">
								<a asp-controller="Manga" asp-action="Details" asp-route-id="@relation.Id" class="row  text-dark">@relation.Title</a>
							</td>
							<td>@relation.RelationType</td>
						</tr>
					}
				</tbody>
			</table>
		}
	</div>
	<div class="mb-4">
		@if (Model.AnimeAdaptations.Any())
		{
			<p class="mb-sm-2"><b>Anime adaptations:</b></p>
			@foreach (var adaptation in Model.AnimeAdaptations)
			{
				<a asp-controller="Anime" asp-action="Details" asp-route-id="@adaptation.Id" class="row">
					<p class="text-dark"><b>Title:</b> @adaptation.Title</p>
				</a>
			}
		}
	</div>
	<div class="mb-4">
		@if (Model.MangasAuthors.Any())
		{
			<p class="mb-sm-2"><b>Authors:</b></p>
			@foreach (var author in Model.MangasAuthors)
			{
				<a asp-controller="Author" asp-action="Details" asp-route-id="@author.Id" class="row">
					<p class="text-dark"><b>Title:</b> @author.Name</p>
				</a>
			}
		}
	</div>
	<div class="mb-4">
		@if (Model.MangasMagazines.Any())
		{
			<p class="mb-sm-2"><b>Magazines:</b></p>
			@foreach (var magazine in Model.MangasMagazines)
			{
				<a asp-controller="Magazine" asp-action="Details" asp-route-id="@magazine.Id" class="row">
					<p class="text-dark"><b>Title:</b> @magazine.Name</p>
				</a>
			}
		}
	</div>
	@if (User?.Identity?.IsAuthenticated ?? false)
	{
		int option = 1;
		if (Model.UserAdded.ContainsKey(Model.Id)) option = Model.UserAdded[Model.Id];
		<div style="max-width:210px">
			<form asp-controller="Added" asp-action="AddManga" asp-route-returnUrl="~@Context.Request.Path@Context.Request.QueryString" metod="get" class="row mx-0 justify-content-center">
				<input name="id" type="hidden" value="@Model.Id">
				<select name="status" class="form-control" style="max-width:140px" aria-required="true" asp-items="@(new SelectList(Model.Enums, "Id", "Name", option))">
				</select>
				<button type="submit" class="btn btn-primary" style="width:70px">Add</button>
			</form>
		</div>
	}
</div>